* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  height: 1000px;
  background-color: #ad1313;
  margin: 0 auto;
}

/* nav bar*/
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar > .navbar__left > .navbar__left__logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  padding: 1rem 0;
}
.navbar > .navbar__right > .navbar__right-list {
  display: flex;
}
.navbar > .navbar__right > .navbar__right-list li {
  list-style: none;
}
.navbar > .navbar__right > .navbar__right-list li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display: block;
}
