@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  width: 80%;
  height: 1000px;

  margin: 0 auto;
}

/* nav bar*/
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}
.navbar .navbar__left .navbar__left-logo {
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 61, 61);
  line-height: 24px;
}
.navbar > .navbar__right > .navbar__right-list {
  display: flex;
}
.navbar > .navbar__right > .navbar__right-list li {
  list-style: none;
  margin-left: 50px;
}
.navbar .navbar__right.navbar__right-list.icon__menu {
  display: none;
}
.navbar > .navbar__right > .navbar__right-list li > a {
  text-decoration: none;
  /* color: rgb(255, 72, 72); */
  /* padding: 10px 20px; */
  /* display: block;
   */
  font-weight: 600;
  font-size: 18px;
  color: #272d38;
}
/* Hero section */
.h-section {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.h-section .h-section__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.h-section .h-section__left h2 {
  font-weight: 700;
  font-size: 64px;
  width: 540px;
  height: 192px;
  line-height: 100%;
}
.h-section .h-section__left p {
  font-weight: 400;
  font-size: 18px;
  width: 520px;
  height: 56px;
  color: #272d38;
}
.h-section .h-section__left button {
  width: 167px;
  height: 48px;
  border-radius: 10px;
  border: none;
  background-color: #8eadd5;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
