@media screen and (max-width: 600px) {
  .navbar .navbar__right .navbar__right-list li {
    display: none;
  }
  .navbar .navbar__right .navbar__right-list li.icon__menu {
    display: block;
  }
  /* .navbar .navbar__right.navbar__right-list li:nth-child(1) {
    display: none;
  }
  .navbar .navbar__right.navbar__right-list li:nth-child(2) {
    display: none;
  }
  .navbar .navbar__right.navbar__right-list li:nth-child(3) {
    display: none;
  }
  .navbar .navbar__right.navbar__right-list li:nth-child(4) {
    display: none;
  }
  .navbar .navbar__right.navbar__right-list li:nth-child(5) {
    display: block;
  }*/
}
